<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community@33.2.1/styles/ag-grid.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community@33.2.1/styles/ag-theme-quartz.css"
    />
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 2rem;
        padding-right: 220px;
        line-height: 1.6;
      }

      nav {
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 200px;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
      }

      #myGrid {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav>
      <h2>Navigation</h2>
      <ul>
        {% for link in nav_links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <main>
      <h1>{{ title }}</h1>
      <div id="myGrid" class="ag-theme-quartz-auto-dark"></div>
    </main>

    <script>
      fetch('{{ data_file }}')
        .then(response => response.json())
        .then(data => {
          const columnDefs = {{ column_defs | tojson }};

            const gridOptions = {
              theme: "legacy",
              columnDefs: columnDefs,
              rowData: data,
              defaultColDef: {
                  sortable: true,
                  filter: true,
                  resizable: true
              },
              pagination: true,
              paginationPageSize: 100
            };

            const gridDiv = document.querySelector('#myGrid');
            new agGrid.createGrid(gridDiv, gridOptions);
        });
    </script>
  </body>
</html>
