name: Publish HTML

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 9 * * *" # This will run at 09:00 UTC every day

# Limit to one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Define permissions explicitly
permissions:
  contents: read
  pages: write
  id-token: write

env:
  OUTPUT_FOLDER: ./flattened_output
  DOWNLOAD_FOLDER: ./data/downloads

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Download latest card data
        run: uv run card_aggregator.py download

      - name: Update creature and land types
        run: uv run card_aggregator.py update-types

      - name: Run card aggregator
        run: uv run card_aggregator.py run --output ${{ env.OUTPUT_FOLDER }}

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ env.OUTPUT_FOLDER }}

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5

      - name: Archive card data
        uses: actions/upload-artifact@v4
        with:
          name: card-data
          path: ${{ env.DOWNLOAD_FOLDER }}/*.json
          retention-days: 7
